@import '../../theme.scss';

.button_wrapper{
  margin-top: 30px;
  margin-bottom: 15px;
}

.login_link{
    text-decoration: none;
    color: $dark;
    font-weight: 400;
    margin-left: 5px;
    border-bottom: 1px solid $dark;
}

.forget_password_link{
    text-decoration: none;
    color: $primaryColor;
    font-weight: 400;
    margin-left: 5px;
}