.cate_container {
  width: 100%;

  .customRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    @media (max-width: 768px) {
      justify-content: center;
    }

    @media (max-width: 580px) {
      justify-content: center;
    }
  }

  .cardWrapper {
  margin-top: 20px !important;
    max-width: 280px;
    display: flex;
    justify-content: center;
    // background-color: red;
    width: 100%;
    margin-bottom: 30px;

    @media (max-width: 768px) {
    }
  }
}
