$accentGray    : rgb(245, 245, 245);
$dark          : #000;
$lightGray     : #ededed;
$pageBackground: #fff;
$white: #fff;
$primaryColor  : #db4444;
$darkGray      : #4d4b4b;
$borderGray    : rgba(0, 0, 0, 0.3);
$ligthGrey2    : #f5f5f5;
$greyBackground : #2F2E30;
$containerBorder : 1px solid gray;